footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}

footer .dev {
  color: var(--turquoise);
}

@media only screen and (orientation: landscape) {
  footer {
    margin-top: 0;
  }
  footer p {
    font-size: 0rem;
  }
}
